<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>The Dark Knight Rises</h2>
    <p>A new Hero is Born</p>
  </body>
</html>
